valen.wang, valen.fun {
	root * /var/www/html
	file_server
}

a.valen.fun {
	root * /cert
	file_server
}
proxy.valen.fun {
	reverse_proxy xray:11443
}

webhook.valen.wang, webhook.valen.fun {
	reverse_proxy webhook:9000
}

chat.valen.wang, chat.valen.fun {
	reverse_proxy lobe:3210
}

lobe.valen.wang, lobe.valen.fun {
	reverse_proxy lobe-network-service:3210
}

lobe-auth.valen.wang, lobe-auth.valen.fun {
	reverse_proxy lobe-network-service:8000
}

lobe-minio.valen.wang, lobe-minio.valen.fun {
	reverse_proxy lobe-network-service:9000
}

webdav.valen.wang, webdav.valen.fun {
	reverse_proxy webdav:80
}

api.valen.wang, api.valen.fun {
	handle_path /lib-search/* {
		rewrite * {path}
		reverse_proxy lib-search-server:7500
	}
}

memos.valen.wang, memos.valen.fun {
	reverse_proxy memos:5230
	log {
		format console
		output file ./logs/memos.log {
			roll_size 10mb
			roll_keep 20
			roll_keep_for 7d
		}
	}
	encode {
		zstd
		gzip
		minimum_length 1024
	}
}
