valen.wang {
  root * /var/www/html
  file_server
}

webhook.valen.wang {
  reverse_proxy webhook:9000
}

memos.valen.wang {
  reverse_proxy memos:5230
  log {
    format console
    output file ./logs/memos.log {
      roll_size 10mb
      roll_keep 20
      roll_keep_for 7d
    }
  }
  encode {
    zstd
    gzip
    minimum_length 1024
  }
}
